<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" >
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" style="margin-right: 2px;
          margin-top: 3px" [disabled]="!recipeForm.valid">Save</button>
          <button class="btn btn-danger" type="button" style="margin-top: 3px" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name" >Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="textArea" class="form-control" formControlName="description" rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="form-group row" 
          *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i=index" [formGroupName]="i">
              <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="name">
              </div>            
              <div class="col-xs-2">
                <input type="number" class="form-control" formControlName="amount">
              </div>

            <div class="col-xs-2">
              <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
            <hr>
            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add ingredient</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
